Package: com.insanj.selfdestruct
Name: SelfDestruct
Depends: mobilesubstrate, libactivator
Version: 0.1
Architecture: iphoneos-arm
Description: Kill foreground app (in case of emergency).
Maintainer: insanj <insanjmail@insanj.com>
Author: Julian (insanj) Weiss
Section: Tweaks
Icon: file:///Library/Activator/Listeners/libactivator.SelfDestruct/Icon-small@2x.png
